<template>
  <nav class="navbar navbar-expand px-4 py-3">
    <a class="text-body-secondary">
      <strong>AgendaSmart </strong>
      <strong>
        <slot name="pag-1"></slot>
      </strong>
      <strong>
        <slot name="pag-2"></slot>
      </strong>
    </a>
    <div class="navbar-collapse collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-icon pe-md-0" data-bs-toggle="dropdown">
            <img src="../assets/img/User.png" alt="" class="avatar img-fluid" />
          </a>
          <div class="dropdown-menu dropdown-menu-end rounded">
            <button @click="logout" class="dropdown-item">
              <i class="bi bi-person"></i>
              <span>Cerrar sesion</span>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script setup lang="ts">
import router from '@/router'
import { useUserStore } from '@/stores/user'
import { onBeforeMount, ref } from 'vue'

const user = ref()
const userStore = useUserStore()

onBeforeMount(async () => {
  await userStore.obtenerInfoUser().then((userId) => {
    user.value = userId.id
  })
})

const logout = () => {
  userStore.logout().then(() => {
    router.push({ name: 'login' })
  })
}
</script>

<style scoped>
.avatar {
  height: 40px;
  width: 40px;
}

.dropdown-menu-end[data-bs-popper] {
  right: 0;
  left: auto;
  background-color: #292929;
  box-shadow: 0px 0px 5px 5px rgba(15, 15, 15, 0.15);
}

.dropdown-menu-end[data-bs-popper] span {
  color: aliceblue;
}

.dropdown-menu-end :hover {
  background-color: rgba(187, 0, 255, 0.075);
  border-left: 3px solid #580062;
}

.navbar {
  background-color: #2a2a2a;
  box-shadow: 0 0 2rem 0 rgba(33, 37, 41, 0.1);
  color: aliceblue;
}

.navbar-expand .navbar-collapse {
  min-width: 200px;
}
</style>
