<template id="loader">
  <aside id="sidebar">
    <div class="d-flex">
      <div href="#" class="logo">
        <img src="../assets/img/logoagendasmart.png" alt="" />
      </div>
      <div class="sidebar-logo"></div>
    </div>
    <ul class="sidebar-nav">
      <li class="sidebar-item">
        <RouterLink :to="{ name: 'dashboard' }" class="sidebar-link">
          <i class="fas fa-home"></i>
        </RouterLink>
      </li>
      <li class="sidebar-item">
        <RouterLink :to="{ name: 'papelera' }" class="sidebar-link">
          <i class="fas fa-trash"></i>
        </RouterLink>
      </li>
      <li class="sidebar-item">
        <RouterLink :to="{ name: 'grupos' }" class="sidebar-link">
          <i class="fas fa-users"></i>
        </RouterLink>
      </li>
    </ul>
  </aside>
</template>

<script setup lang="ts">
import { RouterLink } from 'vue-router'
import { useUserStore } from '@/stores/user'
import { onBeforeMount, ref } from 'vue'
const user = ref()
const userStore = useUserStore()

onBeforeMount(async () => {
  await userStore.obtenerInfoUser().then((userId) => {
    user.value = userId.id
  })
})
</script>

<style scoped>
#sidebar {
  width: 70px;
  min-width: 70px;
  z-index: 1000;
  transition: all 0.25s ease-in-out;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
}

#sidebar.expand {
  width: 260px;
  min-width: 260px;
}

.sidebar-logo {
  margin: auto 0;
}

.sidebar-logo a {
  color: #fff;
  font-size: 1.15rem;
  font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
  display: none;
}

#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span {
  animation: fadeIn 0.25s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.sidebar-nav {
  padding: 2rem 0;
  flex: 1 1 auto;
}

a.sidebar-link {
  padding: 1rem 0;
  color: #fff;
  font-size: 0.9rem;
  white-space: nowrap;
  border-left: 3px solid transparent;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.sidebar-link i,
.dropdown-item i {
  font-size: 1.3rem;
}

a.sidebar-link:hover {
  background-color: rgba(187, 0, 255, 0.075);
  border-left: 3px solid #580062;
}

.sidebar-item {
  position: relative;
  display: flex;
  justify-content: center;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
  position: absolute;
  top: 0;
  left: 70px;
  background-color: #2a2a2a;
  padding: 0;
  min-width: 15rem;
  display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown + .sidebar-dropdown {
  display: block;
  max-height: 15em;
  width: 100%;
  opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle='collapse']::after {
  border: solid;
  border-width: 0 0.075rem 0.075rem 0;
  content: '';
  display: inline-block;
  padding: 2px;
  position: absolute;
  right: 1.5rem;
  top: 1.4rem;
  transform: rotate(-135deg);
  transition: all 0.2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle='collapse'].collapsed::after {
  transform: rotate(45deg);
  transition: all 0.2s ease-out;
}
</style>
