<template>
  <div class="wrapper">
    <Sidebar></Sidebar>
    <div class="main">
      <Header>
        <template #pag-1> - Actividad </template>
      </Header>
      <main class="content px-3 py-4">
        <div class="container-fluid">
          <div class="mb-3">
            <div class="row">
              <div class="col-12 col-md-4"></div>
            </div>
            <section class="act-container">
              <div class="main-card">
                <div class="button-create ps-5 py-3">
                  <h4>{{ name }}</h4>
                  <div class="functionbutton">
                    <button
                      type="button"
                      class="btn btn-success buttonModal"
                      @click="showModalEdit"
                    >
                      <i class="fas fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-danger buttonModal" @click="showModalDrop">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary buttonModal"
                      @click="showModalFinish"
                    >
                      Finalizar
                    </button>
                  </div>
                </div>
                <div class="examples">
                  <div class="intro">
                    <div class="mb-3">
                      <span class="fs-5 me-2">Descripción: </span> {{ description }}
                    </div>
                    <div class="mb-3"><span class="fs-5 me-2">Fecha:</span> {{ dueDate }}</div>
                    <div class="mb-3"><span class="fs-5 me-2">Estatus:</span> {{ status }}</div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </main>
    </div>
  </div>
  <ModalEliminar @close-modal="closeModalDrop" />
  <ModalFinalizar :id="id" @close-modal="closeModal" />
  <ModalEditar :id="id" @close-modal="closeModal" />
</template>

<script setup lang="ts">
import router from '@/router'
import { Modal } from 'bootstrap'
import { onBeforeRouteLeave } from 'vue-router'
import { onMounted, ref, onBeforeMount } from 'vue'
import TaskService from '@/services/TaskServices'
import Header from '@/components/HeaderComponent.vue'
import Sidebar from '@/components/SidebarComponent.vue'
import ModalEditar from '@/components/Modals/ModalEditar.vue'
import ModalEliminar from '@/components/Modals/ModalEliminar.vue'
import ModalFinalizar from '@/components/Modals/ModalFinalizar.vue'

let modalEditAct: Modal
let modalDropAct: Modal
let modalFinishAct: Modal

const name = ref('')
const id = ref(0)
const dueDate = ref('')
const status = ref('')
const description = ref('')
const loader = document.getElementById('loader')

onMounted(async () => {
  modalEditAct = new Modal(document.getElementById('modalEdit') as HTMLElement)
  modalDropAct = new Modal(document.getElementById('modalDrop') as HTMLElement)
  modalFinishAct = new Modal(document.getElementById('modalFinish') as HTMLElement)
})
onBeforeMount(async () => {
  if (loader) {
    loader.style.display = 'flex'
  }
  await getTask()
})
const getTask = async () => {
  const taskService = new TaskService()
  const task = await taskService.getTask(router.currentRoute.value.params.id)
  name.value = task.name
  id.value = task.id
  dueDate.value = parseDateTime(task.dueDate)
  description.value = task.description
  status.value = task.status === 0 ? 'Pendiente' : 'Finalizado'
  if (loader) {
    loader.style.display = 'none'
  }
}
const parseDateTime = (date: string) => {
  const [datePart] = date.split('T')
  const [year, month, day] = datePart.split('-')
  return `${day}/${month}/${year}`
}
const showModalDrop = async () => {
  modalDropAct.show()
}
const showModalFinish = async () => {
  modalFinishAct.show()
}
const showModalEdit = async () => {
  modalEditAct.show()
}
const closeModal = async () => {
  modalEditAct.hide()
  modalFinishAct.hide()
}
const closeModalDrop = async () => {
  router.go(-1)
}
onBeforeRouteLeave(async () => {
  modalEditAct.hide()
  modalDropAct.hide()
  modalFinishAct.hide()
})
</script>

<style scoped>
h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}
</style>
