<template id="loader">
  <div class="wrapper">
    <Sidebar></Sidebar>
    <div class="main">
      <Header></Header>
      <main class="content px-3 py-4">
        <div class="container-fluid">
          <div class="mb-3">
            <div class="row">
              <div class="col-12 col-md-4"></div>
            </div>
            <div class="main-card">
              <div class="button-createP">
                <p>Papelera</p>
                <div class="functionbutton">
                  <button @click="showModalDrop" type="button" class="btn btn-danger">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </div>
              <div class="main-skills">
                <div v-if="data !== null">
                  <div class="card" :key="id" v-for="{ name, dueDate, id } in data">
                    <h3>{{ name }}</h3>
                    <p>
                      Fecha de finalización: <span>{{ parseDateTime(dueDate!) }}</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <ModalEliminarTodo />
</template>

<script setup lang="ts">
import { Modal } from 'bootstrap'
import { onBeforeRouteLeave } from 'vue-router'
import { onMounted, ref, type Ref, onBeforeMount } from 'vue'
import type ITask from '@/interfaces/ITasks'
import TaskService from '@/services/TaskServices'
import Header from '@/components/HeaderComponent.vue'
import Loader from '@/components/LoaderComponent.vue'
import Sidebar from '@/components/SidebarComponent.vue'
import ModalEliminarTodo from '@/components/Modals/ModalEliminarTodo.vue'

let modalDropAct: Modal
const data: Ref<ITask[]> = ref([]) || []
const service = new TaskService()
onMounted(async () => {
  modalDropAct = new Modal(document.getElementById('modalDrop') as HTMLElement)
})
onBeforeMount(async () => {
  const loader = document.getElementById('loader')
  if (loader) {
    loader.style.display = 'flex'
  }
  const { data: deleted } = await service.getDeletedTasks()
  if (loader && !deleted?.length) {
    loader.style.display = 'none'
  }
  data.value = deleted
})
const parseDateTime = (date: string) => {
  const loader = document.getElementById('loader')
  try {
    if (loader) {
      loader.style.display = 'flex'
    }
    const [datePart] = date.split('T')
    const [year, month, day] = datePart.split('-')
    return `${day}/${month}/${year}`
  } catch (error) {
    console.error('Error:', error)
  } finally {
    if (loader) {
      loader.style.display = 'none'
    }
  }
}
const showModalDrop = async () => {
  modalDropAct.show()
}
onBeforeRouteLeave(async () => {
  modalDropAct.hide()
})
</script>

<style scoped>
.button-createP {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.button-createP p {
  text-transform: capitalize;
  font-size: 25px;
  margin: 1rem;
  padding: 1rem;
  color: aliceblue;
}

.functionbutton {
  display: flex;
  margin: 1rem;
  padding: 1rem;
}

.functionbutton i {
  width: 5rem;
}
.buttoncenter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4rem;
  margin: 10px;
}
.buttoncenter i {
  width: 6rem;
  font-size: 1.2rem;
}
</style>
