<template id="loader">
  <div class="wrapper">
    <Sidebar></Sidebar>
    <div class="main">
      <Header>
        <template #pag-1> - Home </template>
      </Header>
      <main class="content px-3 py-4">
        <div class="container-fluid">
          <div class="mb-3">
            <h3 class="fw-bold fs-4 mb-3">Actividades</h3>
            <div class="row">
              <div class="col-12 col-md-4"></div>
            </div>
            <section class="">
              <div class="main-card">
                <div class="button-create">
                  <div class="button-create-mview col-6">
                    <button
                      class="btn btn-dark"
                      :class="{ active: currentView === 1 }"
                      @click="changeView(1)"
                    >
                      <a>Todos</a>
                      <i class="fas fa-list"></i>
                    </button>
                    <button
                      class="btn btn-dark"
                      :class="{ active: currentView === 2 }"
                      @click="changeView(2)"
                    >
                      <a>Personales</a>
                      <i class="fas fa-user"></i>
                    </button>
                    <button
                      class="btn btn-dark"
                      :class="{ active: currentView === 3 }"
                      @click="changeView(3)"
                    >
                      <a>Equipos</a>
                      <i class="fas fa-users"></i>
                    </button>
                  </div>
                  <div class="col-6" style="display: flex; justify-content: end">
                    <button class="btn btn-success" @click="showModal">
                      <a>Crear</a>
                    </button>
                  </div>
                </div>
                <div class="main-skills">
                  <div v-if="data && data.length > 0">
                    <div class="card" :key="id" v-for="{ name, id, dueDate } in data">
                      <router-link :to="{ name: 'actividad', params: { id } }">
                        <h3>{{ name }}</h3>
                        <p>
                          Fecha de finalización: <span>{{ parseDateTime(dueDate!) }}</span>
                        </p>
                      </router-link>
                    </div>
                  </div>
                  <div class="card" v-else>
                    <h3>No hay actividades pendientes</h3>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </main>
    </div>
    <ModalGen />
  </div>
</template>

<script setup lang="ts">
import { Modal } from 'bootstrap'
import { onMounted, ref, type Ref, onBeforeMount } from 'vue'
import type ITask from '@/interfaces/ITasks'
import TaskService from '@/services/TaskServices'
import Header from '@/components/HeaderComponent.vue'
import Sidebar from '@/components/SidebarComponent.vue'
import ModalGen from '@/components/Modals/ModalGeneral.vue'

let myModal: Modal
const currentView = ref(1)
const taskService = new TaskService()
const data: Ref<ITask[]> = ref([]) || []
const loader = document.getElementById('loader')
let tasks: any

onBeforeMount(async () => {
  if (loader) {
    loader.style.display = 'flex'
  }
  tasks = (await taskService.getPersonal()).data
  await sortDates()
  await updateTasks()
})
onMounted(async () => {
  myModal = new Modal(document.getElementById('modalGen') as HTMLElement)
})
const updateTasks = async () => {
  switch (currentView.value) {
    case 1:
      data.value = tasks
      break
    case 2:
      data.value = getPersonales(tasks)
      break
    case 3:
      data.value = getGrupales(tasks)
      break
    default:
      break
  }
}
const sortDates = async () => {
  const filteredTasks = tasks?.filter((tarea: any) => tarea)
  filteredTasks?.sort((a: ITask, b: ITask) => {
    const dateA = a.dueDate ? new Date(a.dueDate) : new Date()
    const dateB = b.dueDate ? new Date(b.dueDate) : new Date()
    return dateA.getTime() - dateB.getTime()
  })
  tasks = filteredTasks
  if (loader) {
    loader.style.display = 'none'
  }
}
const getPersonales = (data: any) => {
  const res = data.filter((tarea: any) => !tarea.groupId)
  return res
}
const getGrupales = (data: any) => {
  const res = data.filter((tarea: any) => tarea.groupId)
  return res
}
const showModal = async () => {
  myModal.show()
}
const parseDateTime = (date: string) => {
  const [datePart] = date.split('T')
  const [year, month, day] = datePart.split('-')
  return `${day}/${month}/${year}`
}
const changeView = (viewMode: number) => {
  currentView.value = viewMode
  updateTasks()
}
</script>
<style scoped></style>
