<template id="loader">
  <div class="wrapper">
    <Sidebar></Sidebar>
    <div class="main">
      <Header>
        <template #pag-1> - Grupos </template>
      </Header>
      <main class="content px-3 py-4">
        <div class="container-fluid">
          <div class="mb-3">
            <div class="row">
              <div class="col-12 col-md-4"></div>
            </div>
            <div class="main-card">
              <div class="button-create">
                <p>Grupos</p>
                <div class="functionbutton">
                  <button class="btn btn-success" @click="showModal">
                    <a class="Create"><i class="fas fa-plus"></i></a>
                  </button>
                </div>
              </div>
              <div class="groupcenter w-100">
                <div class="main-Group row w-100 gx-4">
                  <router-link
                    class="col-12 col-md-6 col-lg-4 col-xxl-3"
                    v-for="{ id, name } in groups"
                    :key="id"
                    :to="{ name: 'grupo', params: { id } }"
                  >
                    <div class="groupCard">
                      <div>
                        <div>
                          {{ name }}
                        </div>
                      </div>
                    </div>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <ModalGroup></ModalGroup>
</template>

<script setup lang="ts">
import Sidebar from '@/components/SidebarComponent.vue'
import Header from '@/components/HeaderComponent.vue'
import ModalGroup from '@/components/Modals/ModalGroup.vue'
import { Modal } from 'bootstrap'
import { onMounted, ref } from 'vue'
import GroupService from '@/services/GroupServices'
import type IGroup from '@/interfaces/IGroup' // Importa la interfaz IGroup
import Loader from '@/components/LoaderComponent.vue'

let myModal: Modal
const groupService = new GroupService()
const groups = ref<IGroup[]>([]) // Define el tipo de datos para groups como un array de IGroup

onMounted(async () => {
  myModal = new Modal(document.getElementById('modalGroup') as HTMLElement)
  await getGroups()
})

const showModal = async () => {
  myModal.show()
}

const getGroups = async () => {
  const loader = document.getElementById('loader')
  if (loader) {
    loader.style.display = 'flex'
  }
  try {
    const response = await groupService.getGroups()
    groups.value = response.data
  } catch (error) {
    console.error('Error:', error)
  } finally {
    if (loader) {
      loader.style.display = 'none'
    }
  }
}
</script>

<style scoped>
.groupCard {
  box-sizing: border-box;
  width: 250px;
  height: 200px;
  background: rgba(114, 0, 202, 0.58);
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  margin: 0.3rem;
  color: aliceblue;
}

.groupCard:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.groupCard:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.tittle {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.tittle a {
  margin: 0.5rem;
  text-decoration: none;
  color: black;
  transition:
    color 0.5s,
    box-shadow 0.5s;
}

.tittle a:hover {
  color: rgb(153, 0, 255);
  font-weight: bold;
}

.button-create {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: white;
}

.button-create p {
  text-transform: capitalize;
  font-size: 25px;
  margin: 1rem;
  padding: 1rem;
  color: aliceblue;
}

.functionbutton {
  display: flexbox;
  margin: 1rem;
  padding: 1rem;
}

.functionbutton i {
  color: white;
  width: 60px;
  padding: 0.4rem;
}
.groupcenter {
  display: flex;
  justify-content: center;
}
</style>
