<template>
  <div class="wrapper">
    <Sidebar></Sidebar>
    <div class="main">
      <Header>
        <template #pag-1> - Grupos </template>
      </Header>
      <main class="content px-3 py-4">
        <div class="container-fluid">
          <div class="mb-3">
            <div class="row">
              <div class="col-12 col-md-4"></div>
            </div>
            <div class="main-card">
              <div class="button-create">
                <div class="button-create-mview col-6">
                  <h3 class="p-0">{{ name }}</h3>
                  <small class="text-secondary">{{ key }}</small>
                  <button
                    class="btn btn-dark"
                    :class="{ active: currentView === member }"
                    :key="id"
                    v-for="{ member, id } in uniquePersonIDsGroup"
                  >
                    @click="changeView(member)"
                    <a>{{ member }}</a>
                    <i class="fas fa-user"></i>
                  </button>
                </div>
                <div class="col-6 dropdown" style="display: flex; justify-content: end">
                  <button class="btn btn-success dropbtn">
                    <i class="menu fas fa-caret-down" style="width: 60px"></i>
                  </button>
                  <div class="dropdown-content">
                    <button @click="showModal" class="dropdown-item Create">
                      <span>Crear actividad</span>
                    </button>
                    <button class="dropdown-item" @click="viewMembers">
                      <span>Miembros</span>
                    </button>
                    <button class="dropdown-item" @click="deleteGroup" v-if="isOwner">
                      <span>Eliminar grupo</span>
                    </button>
                    <button class="dropdown-item" @click="leaveGroup" v-if="!isOwner">
                      <span>Salir del grupo</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="main-skills">
                <div v-if="data !== null">
                  <div class="card" :key="id" v-for="{ name, id, dueDate } in data">
                    <router-link :to="{ name: 'actividad', params: { id } }">
                      <h3>{{ name }}</h3>
                      <p>
                        Fecha de finalización: <span>{{ parseDateTime(dueDate!) }}</span>
                      </p>
                    </router-link>
                  </div>
                </div>
                <div class="card" v-if="data == null || data.length == 0">
                  <h3>No hay actividades pendientes</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <ModalGen />
  </div>
</template>

<script setup lang="ts">
import router from '@/router'
import Swal from 'sweetalert2'
import { Modal } from 'bootstrap'
import { onBeforeMount, onMounted, ref, type Ref } from 'vue'
import type ITask from '@/interfaces/ITasks'
import TaskService from '@/services/TaskServices'
import GroupService from '@/services/GroupServices'
import Header from '@/components/HeaderComponent.vue'
import Sidebar from '@/components/SidebarComponent.vue'
import UserGroupService from '@/services/UserGroupServices'
import ModalGen from '@/components/Modals/ModalGeneral.vue'

let myModal: Modal
const key = ref('')
const name = ref('')
const isOwner = ref(false)
const currentView = ref(-1)
const uniquePersonIDsGroup = ref()
const taskService = new TaskService()
const groupService = new GroupService()
const data: Ref<ITask[]> = ref([]) || []
const actividades: Ref<ITask[]> = ref([]) || []
const userGroupService = new UserGroupService()

onBeforeMount(async () => {
  const loader = document.getElementById('loader')
  if (loader) {
    loader.style.display = 'flex'
  }
  const currentId = parseInt(`${router.currentRoute.value.params.id}`)
  const { data } = await groupService.getGroup(currentId)
  const { name: nombre, key: token, isOwner: ownerGroup } = data
  name.value = nombre
  key.value = token
  isOwner.value = ownerGroup
})

onMounted(async () => {
  myModal = new Modal(document.getElementById('modalGen') as HTMLElement)
  const $modal = document.getElementById('modalGen')
  if ($modal) {
    $modal.addEventListener('hidden.bs.modal', async () => {
      await updateTasks()
    })
  }
  await updateTasks()
})

const groupId = parseInt(`${router.currentRoute.value.params.id}`)
const updateTasks = async () => {
  actividades.value = (await taskService.getTasksByGroup(groupId)).data
  await sortDates()
}
const parseDateTime = (date: string) => {
  const [datePart] = date.split('T')
  const [year, month, day] = datePart.split('-')
  return `${day}/${month}/${year}`
}
const sortDates = async () => {
  const loader = document.getElementById('loader')
  if (loader) {
    loader.style.display = 'flex'
  }
  const filteredTasks = actividades.value?.filter((tarea: any) => tarea)
  filteredTasks?.sort((a: ITask, b: ITask) => {
    const dateA = a.dueDate ? new Date(a.dueDate) : new Date()
    const dateB = b.dueDate ? new Date(b.dueDate) : new Date()
    return dateA.getTime() - dateB.getTime()
  })
  data.value = filteredTasks

  if (loader) {
    loader.style.display = 'none'
  }
}
const leaveGroup = async () => {
  Swal.fire({
    title: '¿Estás seguro que deseas salir de este grupo?',
    text: 'No podrás revertir esto!',
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Sí, salir del grupo'
  }).then(async (result) => {
    if (result.isConfirmed) {
      const { error, message } = await userGroupService.leaveGroup(groupId)
      if (error) {
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: message
        })
      } else {
        Swal.fire({
          icon: 'success',
          title: 'Saliste del grupo',
          text: message
        }).then(() => {
          router.push({ name: 'grupos' })
        })
      }
    }
  })
}
const deleteGroup = async () => {
  Swal.fire({
    title: '¿Estás seguro que deseas eliminar este grupo?',
    text: 'No podrás revertir esto!',
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Sí, eliminar grupo'
  }).then(async (result) => {
    if (result.isConfirmed) {
      const { error, message } = await groupService.deleteGroup(groupId)
      if (error) {
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: message
        })
      } else {
        Swal.fire({
          icon: 'success',
          title: 'Grupo eliminado',
          text: message
        }).then(() => {
          router.push({ name: 'grupos' })
        })
      }
    }
  })
}
const viewMembers = async () => {
  router.push({ name: 'Miembros', params: { id: groupId } })
}
const showModal = async () => {
  myModal.show()
}
</script>

<style scoped>
.button-create {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: white;
}

.button-create p {
  text-transform: capitalize;
  font-size: 25px;
  margin: 1rem;
  padding: 1rem;
  color: white;
}

.btn {
  margin: 1rem;
  color: white;
}

.menu i {
  width: 30px;
}

/* Estilo del contenedor del menú */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Estilo del botón del menú */
.dropbtn {
  background-color: #881ec1;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Estilo del contenido del menú (oculto por defecto) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  left: auto;
  background-color: #292929;
  box-shadow: 0px 0px 5px 5px rgba(15, 15, 15, 0.15);
  min-width: 190px;
}

.dropdown-content :hover {
  background-color: rgba(187, 0, 255, 0.075);
  border-left: 3px solid #580062;
}

/* Estilo de los enlaces del menú */
.dropdown-content span {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Muestra el contenido del menú cuando el botón se hace clic */
.dropdown:hover .dropdown-content {
  display: block;
}
</style>
function ref(arg0: number) { throw new Error("Function not implemented."); }
