<template>
  <div class="contenedor">
    <img src="../assets/img/logoagendasmart.png" alt="" />
    <div class="formulario">
      <form @submit.prevent="login()">
        <h2>Iniciar sesión</h2>
        <div class="imput_contenedor">
          <input
            v-model="formUser.email"
            autocomplete="off"
            id="email"
            placeholder="Correo o Username"
          />
          <span :style="{ display: errorMessages.email ? 'block' : 'none' }" class="error-message">
            {{ errorMessages.email }}
          </span>
        </div>
        <div class="imput_contenedor">
          <input
            v-model="formUser.password"
            placeholder="Contraseña"
            autocomplete="off"
            type="password"
            id="password"
          />
          <span
            :style="{ display: errorMessages.password ? 'block' : 'none' }"
            class="error-message"
          >
            {{ errorMessages.password }}
          </span>
        </div>
        <div class="d-grid">
          <button class="button" style="justify-self: center" id="Loader">Iniciar sesion</button>
        </div>
      </form>
      <div class="resgistrar">
        <p>
          ¿No tienes cuenta?
          <a>
            <RouterLink :to="{ name: 'register' }">Crear una cuenta</RouterLink>
          </a>
        </p>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import router from '@/router'
import { useUserStore } from '@/stores/user'
import { ref } from 'vue'
import Swal from 'sweetalert2'
import Loader from '@/components/LoaderComponent.vue'

const userStore = useUserStore()
let errorEmail: boolean = false
let errorPassword: boolean = false

const formUser = ref({
  email: '',
  password: ''
})
const errorMessages = ref({
  email: '',
  password: '',
  user: 'El correo o la contraseña son invalidos.'
})
async function login() {
  verificarCampoEmail()
  verificarCampoPassword()

  if (errorEmail || errorPassword) {
    return
  }

  const loader = document.getElementById('loader')
  if (loader) {
    loader.style.display = 'flex'
  }

  try {
    const userLogin = await userStore.login(formUser.value.email, formUser.value.password)
    if (!userLogin.error) {
      router.push({ name: 'dashboard', params: {} })
    } else {
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: userLogin.message
      })
    }
  } catch (error) {
    console.error('Error en la función de login:', error)
    Swal.fire({
      icon: 'error',
      title: 'Error',
      text: 'Ocurrió un error al intentar iniciar sesión. Por favor, inténtalo de nuevo más tarde.'
    })
  } finally {
    if (loader) {
      loader.style.display = 'none'
    }
  }
}
const verificarCampoEmail = () => {
  if (!formUser.value.email.length) {
    errorEmail = true
    errorMessages.value.email = 'Correo o nombre usuario invalido.'
  } else {
    errorEmail = false
    errorMessages.value.email = ''
  }
}
const verificarCampoPassword = () => {
  const passwordLenght = formUser.value.password.length
  if (passwordLenght < 8) {
    errorPassword = true
    errorMessages.value.password = 'La contraseña debe tener al menos 8 caracteres.'
  } else {
    errorPassword = false
    errorMessages.value.password = ''
  }
}
function verificarTokenExpirado() {
  const tokenExpiration = localStorage.getItem('tokenExpiration')
  if (tokenExpiration) {
    const expirationTimestamp = parseInt(tokenExpiration, 10)
    const currentTimestamp = Math.floor(Date.now() / 1) // Marca de tiempo actual en segundos
    if (currentTimestamp > expirationTimestamp) {
      // Eliminar el token y redirigir al usuario al inicio de sesión
      localStorage.removeItem('token')
      localStorage.removeItem('tokenExpiration')
      router.push({ name: 'login', params: {} })
    }
  }
}
// Llamada a la función para verificar el token al cargar la página
verificarTokenExpirado()
</script>

<style scoped></style>
