<template>
  <div class="wrapper">
    <Sidebar></Sidebar>
    <div class="main">
      <Header>
        <template #pag-1> - Grupos </template>
      </Header>
      <main class="content px-3 py-4">
        <div class="container-fluid">
          <div class="mb-3">
            <div class="row">
              <div class="col-12 col-md-4"></div>
            </div>
            <div class="main-card">
              <div class="main-skills">
                <div class="userc">
                  <div class="containerUser">
                    <div class="card" :key="id" v-for="{ id, name } in users">
                      <img src="../assets/img/User.png" alt="" />
                      <div class="textBox">
                        <div class="textContent">
                          <p class="h1">{{ name }}</p>
                          <div
                            class="col-6 dropdown"
                            style="display: flex; justify-content: end"
                            v-if="isOwner && id !== userId"
                          >
                            <button class="btn btn-success dropbtn">
                              <i class="menu fas fa-caret-down" style="width: 60px"></i>
                            </button>
                            <div class="dropdown-content">
                              <button class="dropdown-item" @click="createTaskUserGroup(id)">
                                <span>Asignar tarea</span>
                              </button>
                              <button class="dropdown-item" @click="expelUserGroup(id)">
                                <span>Eliminar Miembro</span>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <ModalGen :data-user-id="selectedUser" />
  </div>
</template>

<script setup lang="ts">
import router from '@/router'
import Swal from 'sweetalert2'
import { Modal } from 'bootstrap'
import { useUserStore } from '@/stores/user'
import { ref, onBeforeMount, onMounted } from 'vue'
import GroupService from '@/services/GroupServices'
import Header from '@/components/HeaderComponent.vue'
import Sidebar from '@/components/SidebarComponent.vue'
import ModalGen from '@/components/Modals/ModalGeneral.vue'
import UserGroupService from '@/services/UserGroupServices'

let myModal: Modal
const users = ref([])
const groupId = parseInt(`${router.currentRoute.value.params.id}`)
const isOwner = ref(false)
const selectedUser = ref(0)
const userId = ref(0)
const userGroupService = new UserGroupService()
const groupService = new GroupService()

onBeforeMount(async () => {
  const { data } = await userGroupService.getUsersGroup(groupId)
  const { data: groupData } = await groupService.getGroup(groupId)

  users.value = data
  isOwner.value = groupData?.isOwner || false

  const { id } = await useUserStore().obtenerInfoUser()
  userId.value = id
})
const expelUserGroup = async (id: number) => {
  Swal.fire({
    title: '¿Estás seguro que deseas eliminar a este miembro?',
    text: 'No podrás revertir esto!',
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Sí, expulsar!'
  }).then(async (result) => {
    if (result.isConfirmed) {
      const { message, error } = await userGroupService.expelUserGroup(id)
      if (error) {
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: message
        })
      } else {
        Swal.fire({
          icon: 'success',
          title: 'Éxito',
          text: message
        }).then(() => {
          window.location.reload()
        })
      }
    }
  })
}
const createTaskUserGroup = async (id: number) => {
  selectedUser.value = id
  myModal.show()
}
onMounted(async () => {
  myModal = new Modal(document.getElementById('modalGen') as HTMLElement)
})
</script>

<style scoped>
.button-create {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: white;
}

.button-create p {
  text-transform: capitalize;
  font-size: 25px;
  margin: 1rem;
  padding: 1rem;
  color: white;
}

.btn {
  margin: 1rem;
  color: white;
}
.menu i {
  width: 30px;
}
/* Estilo del contenedor del menú */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Estilo del botón del menú */
.dropbtn {
  background-color: #881ec1;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Estilo del contenido del menú (oculto por defecto) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  left: auto;
  background-color: #292929;
  box-shadow: 0px 0px 5px 5px rgba(15, 15, 15, 0.15);
  min-width: 190px;
}
.dropdown-content :hover {
  background-color: rgba(187, 0, 255, 0.075);
  border-left: 3px solid #580062;
}

/* Estilo de los enlaces del menú */
.dropdown-content span {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Muestra el contenido del menú cuando el botón se hace clic */
.dropdown:hover .dropdown-content {
  display: block;
}

.containerUser {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 2fr);
}

.card {
  width: 100%;
  max-width: 700px;
  background: #353535;
  border-radius: 20px;
  margin: 1rem;
  margin-bottom: 20px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.textContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
}
.userc {
  display: flex;
}
</style>
