<template>
  <div class="d-flex">
    <img src="../assets/img/404_NotFound.svg" alt="My Happy SVG" width="450" height="450" />
    <a>
      <RouterLink :to="{ name: 'dashboard' }">Regresar al Inicio</RouterLink>
    </a>
  </div>
</template>

<script lang="ts" setup>
import { RouterLink } from 'vue-router'
</script>
<style scoped>
.d-flex {
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.d-flex a {
  margin-top: 1rem;
}
</style>
