<template>
  <div
    class="modal fade"
    id="modalFinish"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Finalizar Actividad</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>¿estas seguro de haber finalizado esta actividad?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" @click="finishAct($props.id)">
            finalizado
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import Swal from 'sweetalert2'
import { defineProps } from 'vue'
import TaskService from '@/services/TaskServices'
import type ITaskFinish from '@/interfaces/ITasks'

const emits = defineEmits(['closeModal'])

defineProps({
  id: {
    type: Number,
    required: true
  }
})

async function finishAct(id: number) {
  const task: ITaskFinish = {
    status: true
  }
  const { message, error } = await new TaskService().updateTask(task, id)
  if (error) {
    Swal.fire({
      icon: 'error',
      title: 'Error',
      text: message
    })
  } else {
    Swal.fire({
      icon: 'success',
      title: 'Finalizado',
      text: 'Tarea Finalizada'
    }).then(() => {
      window.location.reload()
    })
  }
  emits('closeModal')
}
</script>

<style scoped></style>
