<template>
  <div
    class="modal fade"
    id="modalGen"
    tabindex="-1"
    aria-labelledby="crearActGeneral"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="crearActGeneral">Crear Actividades</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="inputActGen1" class="form-label">Nombre de la Actividad</label>
            <input v-model="name" type="text" class="form-control" id="inputActGen1" required />
            <span v-if="!name && triedToCreateTask" class="error-message"
              >Por favor, ingrese el nombre de la actividad.</span
            >
          </div>
          <div class="mb-3">
            <label for="textareaActGen" class="form-label">Descripción</label>
            <textarea
              v-model="description"
              class="form-control"
              type
              id="textareaActGen"
              rows="3"
              required
            ></textarea>
            <span v-if="!description && triedToCreateTask" class="error-message"
              >Por favor, ingrese la descripción de la actividad.</span
            >
          </div>
          <div class="mb-3">
            <label for="inputActGen2" class="form-label">Fecha límite</label>
            <input type="date" v-model="dueDate" class="form-control" id="inputActGen2" required />
            <span v-if="!dueDate && triedToCreateTask" class="error-message"
              >Por favor, seleccione la fecha límite de la actividad.</span
            >
            <span v-if="dueDate && isPastDate(dueDate) && triedToCreateTask" class="error-message"
              >La fecha límite debe ser en el futuro.</span
            >
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" @click="checkAndCreateTask">Crear</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import router from '@/router'
import Swal from 'sweetalert2'
import { ref, defineEmits } from 'vue'
import type ITasks from '@/interfaces/ITasks'
import TaskService from '@/services/TaskServices'

const name = ref('')
const dueDate = ref('')
const description = ref('')
const creatorUserId = ref(0)
const triedToCreateTask = ref(false)
const taskService = new TaskService()
const emits = defineEmits(['closeModal'])
const path = router.currentRoute.value.fullPath

const checkAndCreateTask = async () => {
  triedToCreateTask.value = true

  if (!name.value || !description.value || !dueDate.value) {
    Swal.fire({
      icon: 'error',
      title: 'Campos incompletos',
      text: 'Por favor, complete todos los campos obligatorios.'
    })
    return
  }

  if (isPastDate(dueDate.value)) {
    Swal.fire({
      icon: 'error',
      title: 'Fecha incorrecta',
      text: 'La fecha límite debe ser posterior a hoy.'
    })
    return
  }
  const $modal = document.getElementById('modalGen')
  const selectId = $modal?.dataset?.userId ?? 0
  creatorUserId.value = parseInt(`${selectId}`)
  const task: ITasks = {
    name: name.value,
    description: description.value,
    dueDate: dueDate.value,
    groupId: path.includes('grupos/') ? parseInt(`${router.currentRoute.value.params.id}`) : 0,
    creatorUserId: creatorUserId.value
  }

  const { message, error } = await taskService.createTask(task)

  if (error) {
    Swal.fire({
      icon: 'error',
      title: 'Error',
      text: message
    })
  } else {
    emits('closeModal')
    Swal.fire({
      icon: 'success',
      title: 'Creado',
      text: message
    }).then(() => {
      window.location.reload()
    })
  }
}
const isPastDate = (dateString: string): boolean => {
  const selectedDate = new Date(dateString)
  const today = new Date(new Date().getTime() - new Date().getTimezoneOffset()*60*1000 );
  return selectedDate < today
}
</script>

<style scoped>
.error-message {
  color: red;
  font-size: 12px;
}
</style>
