<template>
  <!-- Modal -->
  <div
    class="modal fade"
    id="modalGroup"
    tabindex="-1"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <!-- Tabs -->
          <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="tab1-tab"
                data-bs-toggle="tab"
                data-bs-target="#tab1"
                type="button"
                role="tab"
                aria-controls="tab1"
                aria-selected="true"
                @click="changeOption('create')"
              >
                Crear equipo
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="tab2-tab"
                data-bs-toggle="tab"
                data-bs-target="#tab2"
                type="button"
                role="tab"
                aria-controls="tab2"
                aria-selected="false"
                @click="changeOption('join')"
              >
                Unirse a un equipo
              </button>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="tab1"
              role="tabpanel"
              aria-labelledby="tab1-tab"
            >
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  id=""
                  placeholder="Nombre de equipo"
                  v-model="equipoNombre"
                />
                <span class="error-message" id="nombreEquipoError" style="display: none"
                  >Por favor, ingrese el nombre del equipo.</span
                >
              </div>
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  id=""
                  placeholder="Descripción"
                  v-model="equipoDescription"
                />
                <span class="error-message" id="nombreEquipoError" style="display: none"
                  >Por favor, ingrese la descripción del equipo.</span
                >
              </div>
            </div>
            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  id=""
                  placeholder="Link o codigo de grupo"
                  v-model="linkCodigo"
                />
                <span class="error-message" id="linkCodigoError" style="display: none"
                  >Por favor, ingrese el link o código del grupo.</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" @click="joinGroup" v-if="option == 'join'">
            Unirse
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            @click="createGroup"
            v-if="option == 'create'"
          >
            Crear
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import type IGroup from '@/interfaces/IGroup'
import GroupService from '@/services/GroupServices'
import UserGroupService from '@/services/UserGroupServices'

import Swal from 'sweetalert2'
import { ref } from 'vue'

const option = ref('create')
const equipoNombre = ref('')
const equipoDescription = ref('')
const linkCodigo = ref('')

const service = new GroupService()
const userGroupService = new UserGroupService()

const changeOption = (type: string) => {
  option.value = type
}

const emits = defineEmits(['closeModal'])

const joinGroup = async () => {
  if (!linkCodigo.value.trim()) {
    const linkCodigoError = document.getElementById('linkCodigoError') as HTMLElement
    linkCodigoError.style.display = 'block'
    return
  }
  const { error, message } = await userGroupService.joinGroup(linkCodigo.value)
  if (error) {
    Swal.fire({
      icon: 'error',
      title: 'Error',
      text: message
    })
  } else {
    linkCodigo.value = ''
    closeModal()
    Swal.fire({
      icon: 'success',
      title: 'Union exitosa',
      text: message
    }).then(() => {
      window.location.reload()
    })
  }
}

const createGroup = async () => {
  const group: IGroup = {
    name: equipoNombre.value,
    description: equipoDescription.value
  }

  const { message, error } = await service.createGroup(group)

  if (error) {
    Swal.fire({
      icon: 'error',
      title: 'Error',
      text: message
    })
  } else {
    Swal.fire({
      icon: 'success',
      title: 'Creado',
      text: message
    }).then(() => {
      closeModal()
      window.location.reload()
    })
  }
}

const closeModal = () => {
  const modalElement = document.getElementById('modalGroup')
  modalElement?.classList.remove('show')
  modalElement?.setAttribute('aria-modal', 'false')
  modalElement?.setAttribute('style', 'display: none')
}
</script>

<style scoped>
.tab-pane {
  padding: 1rem 0 0;
  width: 100%;
  align-items: center;
}

#myTabContent {
  display: flex;
}

.form-control::placeholder {
  text-align: center;
}

.error-message {
  color: red;
  font-size: 12px;
}
</style>
