<template>
  <div
    class="modal fade"
    id="modalDrop"
    tabindex="-1"
    aria-labelledby="deleteActGeneral"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteActGeneral">Eliminar Actividad</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>¿Estas seguro de elimnar esta Actividad?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" @click="dropAct(idTask)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import router from '@/router'
import Swal from 'sweetalert2'
import TaskService from '@/services/TaskServices'

const emits = defineEmits(['closeModal'])

const taskService = new TaskService()
const idTask = ref(0)
idTask.value = parseInt(`${router.currentRoute.value.params.id}`)

async function dropAct(id: number) {
  const { message, error } = await taskService.deleteTask(id)

  if (error) {
    Swal.fire({
      icon: 'error',
      title: 'Error',
      text: message
    })
  } else {
    Swal.fire({
      icon: 'success',
      title: 'Eliminado',
      text: message
    })
    router.push({ name: 'dashboard', params: {} })
  }
  emits('closeModal')
}
</script>

<style scoped></style>
