<template>
  <div
    class="modal fade"
    id="modalEdit"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="name" class="form-label">Nombre de la Actividad</label>
            <input v-model="name" type="text" class="form-control" id="name" />
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Descripción</label>
            <textarea
              v-model="description"
              class="form-control"
              type
              id="description"
              rows="3"
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="dueDate" class="form-label">fecha limite</label>
            <input v-model="dueDate" type="date" class="form-control" id="dueDate" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" @click="editAct(idTask)">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import router from '@/router'
import Swal from 'sweetalert2'
import { defineProps, ref, onBeforeMount } from 'vue'
import TaskService from '@/services/TaskServices'
import type ITasks from '@/interfaces/ITasks'

defineProps({
  id: {
    type: Number,
    required: true
  }
})

const name = ref('')
const idTask = ref(0)
const dueDate = ref('')
const status = ref('')
const description = ref('')
const creatorUserId = ref(0)
const groupId = ref(0)
const emits = defineEmits(['closeModal'])

onBeforeMount(async () => {
  await getTask()
})
const getTask = async () => {
  const taskService = new TaskService()
  const task = (await taskService.getTask(router.currentRoute.value.params.id)) || {}

  name.value = task.name
  idTask.value = task.id
  dueDate.value = transformDate(task.dueDate)
  description.value = task.description
  status.value = task.status === 0 ? 'Pendiente' : 'Finalizado'
}
const transformDate = (date: string) => {
  const dateArray = date.split('T')
  return dateArray[0]
}
async function editAct(id: number) {
  const statusNumber: boolean = status.value === 'Finalizado'
  const date = dueDate.value.split('T')[0]
  const task: ITasks = {
    name: name.value,
    description: description.value,
    dueDate: date,
    status: statusNumber,
    creatorUserId: creatorUserId.value,
    groupId: groupId.value
  }
  const { message, error } = await new TaskService().updateTask(task, id)
  if (error) {
    Swal.fire({
      icon: 'error',
      title: 'Error',
      text: message
    })
  } else {
    Swal.fire({
      icon: 'success',
      title: 'Editado',
      text: message
    })
  }
  emits('closeModal')
}
</script>

<style scoped></style>
