@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
  overflow: hidden !important;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /*   background: linear-gradient(rgb(0, 0, 0), rgb(60, 2, 99), rgb(75, 8, 117), rgb(0, 0, 0));
 */
  background: linear-gradient(rgb(0, 0, 0), rgb(36, 9, 57));
}

li {
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

strong {
  color: aliceblue;
}
h3 {
  color: aliceblue !important;
}
#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.button {
  border: none;
  background-image: linear-gradient(30deg, #26013b, #5f1491);
  border-radius: 10px;
  background-size: 100% auto;
  font-size: 17px;
  padding: 0.6em 1.5em;
  margin: 1rem;
  align-items: center;
  color: white;
}

a {
  text-decoration: none !important;
  color: antiquewhite;
}

.button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}
footer {
  padding: 1rem 0.875rem;
}

.button-2 {
  border: none;
  background-color: #9900ff;
  border-radius: 10px;
  background-size: 100% auto;
  font-size: 15px;
  padding: 0.2em 0.2em;
  margin: 1rem;
  align-items: center;
}
.button-2 a {
  text-decoration: none;
  color: antiquewhite !important;
  padding: 1rem;
}

.button-2:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

.button-create {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}
.button-create-mview .btn,
.button-create-mview i {
  margin: 0 0.3rem;
  align-items: center;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #b620fc66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

.logo {
  text-align: center;
  display: flex;
  padding: 10px;
}
.logo img {
  width: 50px;
}

/* LOGIN REGISTER */
.logoRegist {
  display: flex;
  width: 30%;
  padding: 20px;
}
.rgts {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedorRgs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  position: relative;
  background: rgba(97, 97, 97, 0.1);
  border-radius: 30px;
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
}
.contenedorRgs .formulario {
  width: 420px;
  color: aliceblue;
  padding: 2rem;
}
.contenedor img {
  width: 29%;
  padding: 20px;
}

.error-message {
  color: red;
  margin: 0 10px;
}

.formulario {
  width: 420px;
  color: aliceblue;
}
.formulario h2 {
  font-size: 3rem;
  text-align: center;
  margin: 2rem;
}
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  padding: 5rem;
  position: relative;
  background: rgba(97, 97, 97, 0.1);
  border-radius: 30px;
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
}

.contenedor img {
  width: 29%;
  padding: 20px;
}

.imput_contenedor input {
  width: 100%;
  height: 100%;
  background: #222222;
  border-radius: 3rem;
  padding: 10px 20px;
  color: aliceblue;
  border: none;
  outline: none;
  margin: 10px;
}
.imput_contenedor input:hover {
  box-shadow: 0 0 0 0.15vw rgba(135, 207, 235, 0.186);
}

.imput_contenedor input:focus {
  box-shadow: 0 0 0 0.15vw rgb(132, 1, 255);
}
/* END LOGIN REGISTER */

/* DASHBOARD */
.wrapper {
  display: flex;
  background-color: #2a2a2a;
  width: 100%;
  height: 100vh;
}

.main {
  position: relative;
  padding: 20px;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}
.main::-webkit-scrollbar-button {
  background-color: transparent;
}

.main-card {
  width: 100%;
  background-color: #1c1c1c;
  padding: 1rem;
  margin: 5px;
  border-radius: 1rem;
}

.main-top i {
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(110, 109, 109);
  cursor: pointer;
}

.main-skills {
  margin-top: 10px;
  padding: 1rem 0;
  max-height: 23rem;
  overflow-y: overlay;
}

.main-skills .card {
  margin: 30px;
  background: #292929;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.318);
}

.main-skills .card h3 {
  margin: 10px;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.main-skills .card p {
  font-size: 1rem;
  margin: 10px;
  color: aliceblue;
}

/* END DASHBOARD */

/* VISTA ACTIVIDAD */
.examples {
  padding: 2em;
  color: #fff;
  text-align: center;
  max-width: 1500px;
}

.examples .intro {
  margin-bottom: 3em;
  line-height: 1.4em;
  font-size: 16px;
  margin: 1rem;
  text-align: justify;
}

.act-container .button-create p {
  color: white;
  padding: 0 0rem 0 1.5rem;
  margin: 0;
}
.act-container .button-create {
  align-items: center;
}
.functionbutton {
  display: flex;
  margin: 0.4rem;
  color: white;
}
.functionbutton i {
  width: 5rem;
}

.functionbutton .btn {
  margin-right: 0.6rem;
}

/* END VISTA ACTIVIDAD */

/* ESTILOS EXTRAS*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  transition: 0.4s;
}

::-webkit-scrollbar-track {
  background: var(--bs-secondary-border-subtle);
  backdrop-filter: blur(10px);
  transition: 0.4s;
}

::-webkit-scrollbar-thumb {
  background: var(--bs-secondary);
  transition: 0.4s;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bs-dark);
  transition: 0.4s;
}
/*END ESTILOS EXTRAS*/
